/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** Header ******/

.logo {
    width: 61.09px;
    height: 19px;
}

.logo-mobile {
    display: none;
}

.logo-nav { 
    display: flex;
    justify-content: space-between;
    height: 79px;
    align-items: center;
    width: 100%;
}

nav {
    display: flex;
    gap: 68px;
    align-items:center;
    justify-content: center;
    height: 42px;
    margin-top: -44px;
}

nav a { 
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    }

nav a:hover {
    padding-top: 13px;
    border-top: #0065FC solid 2px;
    color: #0065FC;
}

.in-head {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;
}

.presentation h1 {
    font-size: 22px;
    font-weight: 700;
}

.presentation p {
    font-size: 16px;
    font-weight: 400;
}

.searchbar {
    display: flex;
}

.icon-searchbar {
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-location-dot {
    font-size: 18px;
    color: black;
}

input {
    border: solid 1px #F2F2F2;
    text-align: center;
    color: black;
    font-weight: 500;
    font-size: 16px;
    width: auto;
    height: 49px;
}

input::placeholder {
    color: black;
    font-weight: 700;
}

.btn {
    border-radius: 0 15px 15px 0;
    background-color:#0065FC;
    border:none; 
    width: 132px;
    height: 49px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.btn-mobile {
    display: none;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
}

.filter p {
    color: black;
    font-size: 17px;
    font-weight: 700;
}

.container-filter {
    display: flex;
    gap: 15px;
}

.btn-filter {
    height: 50px;
    border-radius: 25px;
    border: solid 2px #F2F2F2;
    background-color: white;
    padding: 4px 19px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
}

.btn-filter:hover {
    background-color: #DEEBFF;
}

.ico-filter {
    font-size: 18px;
    padding-right: 12px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 24px;
    margin-bottom: 35px;
    width: 100%;
}

.ico-info {

    border-radius: 100%;
    border: solid 1px #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    font-size: 16px;
    font-weight: 700;
    width: 24px;
    height: 24px;
}

.fa-info {
    font-size: 14px;
}
/****** Section ******/

.section-title {
    margin: 0;
    font-size: 22px;
}

/****** Cartes ******/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

#hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: space-around;
}

.title-hebergement {
    margin: 0;
    white-space: nowrap;
}

.hebergement-card {
    width: 100%;
    height: auto;
    display: flex;
    gap: 4%;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-right: 8px;
}

.card-h {
    flex: 1 1 calc(33% - 4%);
    background-color: white;
    height: 208px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    border: solid 4px white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-bottom: 4px;
    margin: 30px 0 0 0;
}

.card-h img {
    object-fit: cover;
    height: 124px;
    border-radius: 30px 30px 0 0;
    width: 100%;
}

.card-content-h {
    position: relative;
    height: 66px;
    width: auto;
    margin: 0;
    padding: 5px 5px;
    white-space: nowrap;
}

.card-txt-h {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 10px;
}

.card-title-h {
    margin: 0;
    font-size: 16px;
}

.card-subtitle-h {
    margin: 0;
}

.card-rating-h {
    position: absolute;
    left: 14px;
    bottom: -2px;
    word-spacing: -5px;
    font-size: 18px;
}

.see-more {
    margin: 30px 0 0 0;
    font-size: 16px;
    font-weight: 700;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 20px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
    word-spacing: -5px;
}

/****** Activités ******/

#activites {
    margin: 60px 0 60px 0;
    padding: 0 30px;
}

.activities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.card-activities {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card-activities img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.card-activities h3 {
    background: #FFFFFF;
    padding: 0 19px;
    font-size: 16px;
    margin: 20px 0 20px 0;
}

/****** Footer ******/

footer {
    background-color: #F2F2F2;
    display: flex;
}

footer div {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 30px;
    white-space: nowrap;
}
 footer p {
    font-weight: 700;
 }

 footer a {
    font-weight: 400;
 }

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media screen and (max-width: 1024px) {

    .filter {
       display: flex;
       flex-direction: column;
       align-items: flex-start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .title-hebergement {
        margin: 0;
    }

    .card-h {
        margin: 30px 0 0 0;
    }

    .card-h img {
        height: 124px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card-activities a {
        height: 270px;
    }

    .card-activities img {
        height: 200px;
    }
    
    .card-activities h3 {
        font-size: 14px;
        display: flex;
    }
    }

/* Small devices (phones, less than 768px) */

@media screen and (max-width: 768px) {
 

    .main-container {
        padding: 0;
    }   

    .logo-nav {
        flex-direction: column;
        padding-top: 30px;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: flex;
        width: 62px;
        height: 20px;
    }

    nav {
        width: 100%;
        height: 50%;
        justify-content: space-around;
        gap: 0;
    }

    nav a {
        width: 50%;
        border-bottom: #F2F2F2 solid 2px;
        padding-bottom: 15px;
    }

    nav a:hover {
        border-top: none;
        border-bottom: #0065FC solid 2px;
    }   

    .in-head {
        margin: 10px 20px 0 20px;
        padding: 0;
        width: auto;
        gap: 25px;
    }

    .presentation p {
        font-size: 15px;
    }

    .searchbar {
        justify-content: center;
    }

    .info p {
        font-size: 15px;
    }

    input {
        width: 236px;
    }

    .btn {
        display: none;
    }

    .btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        border: none;
        border-radius: 15px;
        width: 49px;
        height: 49px;
        margin-left: -15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .fa-magnifying-glass {
        color: white;
        font-size: 16px;
    }

    .container-filter {
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    
    .btn-filter {
        font-size: 14px;
        width: calc(50% - 15px);
        
    }

    .ico-filter {
        font-size: 14px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: auto;
        margin: 0;
    }

    .hebergements-and-populaires section {
        padding: 20px;
        border-radius: 0;
    }

    .section-title {
        font-size: 22px;
    }

    .populaires {
        margin: 0;
        border-radius: 0;
        padding: 0 20px;
    }

    .populaires section {
        padding: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards img {
        height: 146px;
    }

    #hebergements {
        background-color: white;
        width: 100%;
        padding: 0 20px;
    }

    .title-hebergement {
        font-size: 22px;
        width: auto;
        margin-top: 20px;
    }

    .hebergement-card {
        width: 100%;
    }

    .card-h {
        margin-top: 20px;
    }

    .card-h a {
        height: 207px;
        width: auto;
    }

    .card-h img {
        height: 124px;
    }

    .card-rating-h {
        padding-bottom: 4px;
    }

    .see-more {
        margin: 20px;
    }

    #activites {
        width: auto;
        margin: 20px 20px 60px 20px;
        padding: 0;
    }

    #activites h2 {
        font-size: 22px;
    }

    .activities {
        width: 100%;
        flex-direction: column;
        padding: 20px 0 0 0;
        gap: 20px;
    }

    .card-activities {
        width: 100%;
        height: 200px;
    }

    .card-activities img {
        height: 140px;
    }

    footer {
        flex-direction: column;
        padding-bottom: 20px;
    }

    footer div {
        padding: 0;
        margin: 0 30px;
        width: auto;
    }
    
    footer p {
        margin: 16px 0 4px 0;
    }

}